%div.answer
  = auto_link(simple_format answer.content).html_safe
  %div.createdinfo
    = render_accept_section answer
    = render_model_info answer
  %div.voteinfo
    = render_vote_count answer
    = render_vote_link answer
