<div class="answer">
  <%= simple_format answer.content %>
  <div class="createdinfo">
    <%= render_accept_section answer %>
    <%= render_model_info answer %>
  </div>
  <div class="voteinfo">
    <%= render_vote_count answer %>
    <%= render_vote_link answer %>
  </div>
</div>
