.answer
  = simple_format(auto_link answer.content)
  .createdinfo
    = render "questions/accept_section", answer: answer
    = render "shared/model_info", model: answer
  .voteinfo
    = render "questions/vote_count", answer: answer
    = render "questions/vote_link", answer: answer
