%div.answer
  = auto_link(simple_format answer.content).html_safe
  %div.createdinfo
    = render "questions/accept_section", answer: answer
    = render "shared/model_info", model: answer
  %div.voteinfo
    = render "questions/vote_count", answer: answer
    = render "questions/vote_link", answer: answer
