%h2 Ask Question
= form_for(@question) do |f|
  = render 'shared/error_messages', object: f.object
  .field
    = f.label :title
    %br/
    = f.text_field :title, size: 69
  .field
    = f.label :content
    %br/
    = f.text_area :content, size: "50x5"
  .actions
    = f.submit "Post Your Question"
