<h2><%= @question.title %></h2>
<div class="question">
  <div class="content">
    <%= simple_format @question.content %>
  </div>
  <div class="createdinfo">
    [
    <%= @question.created_at.to_s %>
    <%= @question.user.user_name %>
    ]
  </div>
</div>
<% if !@question.answers.empty? %>
  <h3><%= pluralize(@question.answers.count, "Answer") %></h3>
  <div class="answers">
    <% @question.answers.each do |answer| %>
      <div class="answer">
        <%= simple_format answer.content %>
        <div class="createdinfo">
          <% if @question.accepted? %>
            <% if @question.accepted_answer_id == answer.id %>
              <span class="accepted">Accepted</span>
            <% end %>
          <% else %>
            <% if current_user == @question.user %>
              <%= link_to "Accept", accept_answer_path(answer), { method: :post } %>
            <% end %>
          <% end %>
          [
          <%= answer.created_at.to_s %>
          <%= answer.user.user_name %>
          ]
        </div>
      </div>
    <% end %>
  </div>
<% end %>
<h3>Your Answer</h3>
<% if signed_in? %>
  <%= form_for [@question, @answer] do |f| %>
    <%= render 'shared/error_messages', :object => f.object %>
    <div class="field">
      <%= f.label :content %><br />
      <%= f.text_area :content, :size => '50x5' %>
    </div>
    <div class="actions">
      <%= f.submit "Post Your Answer" %>
    </div>
  <% end %>
<% else %>
  <p>Please <%= link_to "sign in", signin_path %> to post your answer.</p>
<% end %>
