<h2><%= @question.title %></h2>
<p><%= simple_format @question.content %></p>
<% if !@question.answers.empty? %>
  <h3>Answer(s)</h3>
  <ul class="answers">
    <% @question.answers.each do |answer| %>
      <li>
        <%= answer.content %>
      </li>
    <% end %>
  </ul>
<% end %>
<h3>Your Answer</h3>
<% if signed_in? %>
  <%= form_for [@question, @answer] do |f| %>
    <%= render 'shared/error_messages', :object => f.object %>
    <div class="field">
      <%= f.label :content %><br />
      <%= f.text_area :content, :size => '50x15' %>
    </div>
    <div class="actions">
      <%= f.submit "Post Your Answer" %>
    </div>
  <% end %>
<% else %>
  <p>Please <%= link_to "sign in", signin_path %> to post your answer.</p>
<% end %>
