%h2= @user.user_name
%h3 #{@user.reputation_point} Reputation
- if !@user.reputations.empty?
  %table.rephist{border: "0"}
    - @user.reputations.each do |rep|
      %tr
        %td= "+" + rep.point.to_s
        %td= rep.created_at
        %td= rep.reason
        %td= link_to rep.question.title, question_path(rep.question)
