- if @voted_answer.errors.empty?
  :plain
    $('votelink#{@voted_answer.id}').update("")
    $('votecnt#{@voted_answer.id}').update('#{escape_javascript render("questions/vote_count", answer:  @voted_answer)}')
- else
  :plain
    $('votelink#{@voted_answer.id}').update('<span class="error">#{@voted_answer.errors.full_messages.join(",")}</span>')
