%h1= link_to "Passenger Overflow", root_path
- if signed_in?
  %p
    Current User: #{render "shared/user_info", user: current_user}
%nav
  %ul
    %li= link_to "Questions", questions_path
    %li= link_to "Ask Question", new_question_path
    %li= link_to "Users", users_path
    - if signed_in?
      %li= link_to "Sign out", session_path(current_user), method: :delete
    - else
      %li= link_to "Sign in", new_session_path
